theme = GitHub Dark Dimmed
#theme = Afterglow

# font-family = JetBrainsMono Nerd Font Mono
font-family = JetBrains Mono
font-family = Symbols Nerd Font Mono
font-feature = -calt

macos-icon = chalkboard
macos-titlebar-proxy-icon = hidden
title = " "

macos-option-as-alt = true

quit-after-last-window-closed = true


bell-features = no-title

