theme = GitHub Dark Dimmed
#theme = Afterglow

# font-family = JetBrainsMono Nerd Font Mono
# font-family = JetBrains Mono
# font-feature = -calt
 
font-family = Maple Mono NF
font-size = 14
# font-feature = -calt # ligatures
# cv01: Normalize special symbols
# cv62: Alternative ? with larger openings
# cv32: Alternative Italic f without bottom tail
# cv34: Alternative Italic k without center circle
# cv35: Alternative Italic l without center tail
# cv36: Alternative Italic x without top and bottom tails
# ss03: Arbitrary tag
# ss06: Break connected strokes between italic letters 
font-feature = +cv01 , +cv62, +cv32, +cv34, +cv35, +cv36, -ss03, +ss06

# font-family = Mononoki Nerd Font Mono
# font-family = mononoki
# font-size = 16

# font-family = Symbols Nerd Font Mono

# font-family = Monaspace Neon NF
# font-size = 15
# font-feature = +calts
# font-feature = +liga
# font-feature = +ss01
# font-feature = +ss02
# font-feature = +ss03
# font-feature = +ss07
# font-feature = +ss09

macos-icon = chalkboard
macos-titlebar-proxy-icon = hidden
title = " "

macos-option-as-alt = true

quit-after-last-window-closed = true

bell-features = no-title

